#root {
  padding: 0;
  text-align: center;
  color: #666666;
}
.App{
  height: 100vh;
  width:900px;
  margin: auto;
}
.pessoal{
  display: flex;
  justify-content: space-between;
}
.surgir{
  animation: surgir 6s linear;
}
.logo-pessoal{
  width: 200px;
}
.informacoes-pessoal{
  text-align: left;
}
.informacoes-pessoal h1, .informacoes-pessoal p{
  margin-top: 0;
  margin-right: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.informacoes-pessoal h1{
  width: 24ch;
  animation: types1 3s steps(24, end);
  }
.informacoes-pessoal p{
  width: 75ch;
  animation: types2 5s steps(71, end);
}
.typing{
  animation: blink 1s infinite;
}
.stack{
  margin: 4px 0px
}
.stack img{
  position: relative;
  top: 15px;
}
.icones-pessoais{
  margin: auto;
}
.logo {
  height: 48px;
  padding-right: 10px;
  transform: translateY(40%);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover, .prestigio:hover {
  transition: 0.4s;
  filter: drop-shadow(0 0 5px grey);
}
.prestigio {
  position: relative; 
}
.palmas-prestigio{
  height: 60px;
  position: absolute;
}
.prestigio-1, .prestigio-2{
  position: absolute;
  color: black;
  width: 120px;
  height:60px;
  transition: 0.3s;
  background-color: lightgrey;
  border-radius: 5px;
  border:none;
}
.prestigio-1{
  transform: rotateX(0deg)translateX(-50%);
  transform-origin: bottom;
}
@keyframes surgir{
  0%{opacity: 0}
  95%{opacity: 0}
  100%{opacity:100%}
}
@keyframes blink{
  to{opacity: 0;}
}
@keyframes types1{
  from{width: 0;}
}
@keyframes types2{
  0%{width: 0;}
  60%{width: 0;}
  100%{ width: 100; } 
}