.quadro-habilidades{
    display: flex;
    justify-content: space-evenly;
}
.quadro-habilidades div{
    width: 200px;
    margin: 10px;

}
.container-listas{
    border: 2px solid lightgrey;
    border-left: none;
    border-right: none;
    padding: 0px 20px;
    border-radius: 20px;
}
.list{
    List-style: none;
    padding: 0;
}
.container-certicacao{
    margin: 40px auto;
    padding: 0px 20px;
}
.destaque{
    font-style: italic;
}