.navbar{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    background: lightgrey;
    width: 100vw;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
}
.navbar div{
    padding:20px;
    cursor: pointer;
}