.navbar{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    background: lightgrey;
    width: 100vw;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    display: flex;
    z-index: 1;
}
.navbar div{
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
}
.navbar div:hover{
    transition: 0.2s;
    color: white;
}